@keyframes slideInRight
    from
        transform: translate3d(100%, 0, 0);
        visibility: visible
    to
        transform: translate3d(0, 0, 0);

@keyframes slideOutRight
    from
        transform: translate3d(0, 0, 0);
    to
        visibility: hidden;
        transform: translate3d(100%, 0, 0);
@keyframes slideInDown
    from
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    to
        transform: translate3d(0, 0, 0);

@keyframes slideInLeft
    from
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    to 
        transform: translate3d(0, 0, 0);

@keyframes flipInX
    from
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        animation-timing-function: ease-in;
        opacity: 0;
    40%
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        animation-timing-function: ease-in;
    60%
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
    80%
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    to
        transform: perspective(400px);

@keyframes slideInUp
    from
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    to
        transform: translate3d(0, 0, 0);
@keyframes fadeInUp
    from
        opacity: 0;
        transform: translate3d(0, 100%, 0);

    to
        opacity: 1;
        transform: translate3d(0, 0, 0);
        
.fadeInUp
    animation-name: fadeInUp;

.slideInUp
  animation-name: slideInUp;

.flipInX
    backface-visibility: visible !important;
    animation-name: flipInX;

.slideInLeft 
  animation-name: slideInLeft;

.slideInDown
  animation-name: slideInDown;

.animated
    animation-duration: 1s;
    animation-fill-mode: both;

.slideOutRight
    animation-name: slideOutRight;
    animation-duration: 1s;
    animation-fill-mode: both;

.slideInRight
    animation-name: slideInRight;
    animation-duration: 1s;
    animation-fill-mode: both;

