@media screen and (max-width: 1200px)
    .menu
        &-list
            &__item
                font:
                    size: 1.5vw
    .toggle-menu 
        justify-content: flex-end;
        flex-direction: column;
        align-items: flex-end;

    .menu
        width: 100%;

    .nav-user
        width: 100%;

    .menu-list
        justify-content: flex-end;

    .search__btn
        width: 44px;
        height: 45px;